<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.dddkj.ywtx">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name=".MyApplication.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginAcivity">

        </activity>
        <activity android:name=".ui.ClassificAtiondetailsActivity">

        </activity>
        <activity android:name=".ui.TertiaryDetailsActivity">

        </activity>
        <activity android:name=".ui.ClassifySortActivity">

        </activity>
        <activity
            android:label="商品详情"
            android:name=".ui.MerchandiseNewsActivity">

        </activity>

        <activity
            android:label="全部评论"
            android:name=".ui.AllCommentsActivity">

        </activity>
        <activity
            android:label="进入店铺"
            android:name=".ui.EnterStoreActivity">

        </activity>
        <activity
            android:label="店铺介绍"
            android:name=".ui.AboutStoreActivity">

        </activity>
        <activity
            android:label="全部商品"
            android:name=".ui.AllShopActivity">
        </activity>
        <activity
            android:label="店铺全部商品"
           android:name=".ui.ShopAllGoodsActivity">

        </activity>
        <activity
            android:label="店铺搜索"
            android:name=".ui.SearchGoodsActivity">

        </activity>
        <activity
            android:label="店铺搜索列表"
            android:name=".ui.SearchGoodsListActivity">

        </activity>

    </application>

</manifest>
