<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"

          package="com.example.dddkj.ywtx">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>



    <application
        tools:replace="android:icon"
        android:name=".MyApplication.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="登陆"
            android:name=".ui.LoginAcivity">

        </activity>
        <activity

            android:label="首页二级分类详情1"
            android:name=".ui.ClassificAtiondetailsActivity">

        </activity>
        <activity
            android:label="首页三级分类详情1"
            android:name=".ui.TertiaryDetailsActivity">

        </activity>
        <activity
            android:name=".ui.ClassifySortActivity">

        </activity>
        <activity
            android:label="商品详情"
            android:name=".ui.MerchandiseNewsActivity">

        </activity>

        <activity
            android:label="全部评论"
            android:name=".ui.AllCommentsActivity">

        </activity>
        <activity
            android:label="进入店铺"
            android:name=".ui.EnterStoreActivity">

        </activity>
        <activity
            android:label="店铺介绍"
            android:name=".ui.AboutStoreActivity">

        </activity>
        <activity
            android:label="全部商品"
            android:name=".ui.AllShopActivity">
        </activity>
        <activity
            android:label="店铺全部商品"
           android:name=".ui.ShopAllGoodsActivity">

        </activity>
        <activity
            android:label="店铺搜索"
            android:name=".ui.SearchGoodsActivity">

        </activity>
        <activity
            android:label="店铺搜索列表"
            android:name=".ui.SearchGoodsListActivity">

        </activity>
        <activity
            android:label="地址管理"
            android:name=".ui.DeliveryAddrssActivity">

        </activity>
        <activity
            android:label="编辑收货地址"
            android:name=".ui.EditShippingAddressActivity">

        </activity>
        <activity
            android:label="地址增加"
            android:name=".ui.AreaSelectActivity">

        </activity>
        <activity
            android:label="我的收藏"
            android:name=".ui.MyCollection">
        </activity>
        <activity
            android:label="个人中心"
            android:name=".ui.PersonalSettingActivity">

        </activity>
        <activity
            android:label="我的优惠券"
            android:name=".ui.MyCoupons">

        </activity>
        <activity
            android:label="优惠券历史"
            android:name=".ui.CouponHistoryActivity">
        </activity>



    </application>

</manifest>
